@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Montserrat&family=Poppins:wght@300;400;500;600;700&family=Roboto&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  scroll-behavior: smooth;
}
@layer components {
  .custom-button {
    background-color: black;
    border-radius: 10px;
    padding: 8px;
    color: white;
    border: none;
    padding: 15px;
  }

  .custom-border-button{
    
    border-radius: 10px;
    padding: 8px;
    border: 2px solid black;
    padding: 15px;
  }

  .customBadgeCSS{
    border: 2px solid rgba(111, 0, 191, 0.674);
    padding: 8px;
    border-radius: 4px;
    font-weight: 700;
  }

  .none {
    background-image: url("./assets/images/HeroImage_1.jpg");
    overflow: none;
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -200px;
    
  }
}
