
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components{
  .custom-button{
    padding: 8px ;
    background-color: black;
    border: none;
    color: white;
    font-weight: 700;
  }

}